.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 172px;
    height: 56px;

    background-color: $orange;
    box-shadow: 0px 8px 32px #FFE6D8;
    border-radius: 8px;
    
    font-size: 16px;
    line-height: 19px;
    color: $white;
}