//font
$default-font: 'roboto';

//colors
$white: #fff;
$orange: #FF5B00;
$pink: #F4325E;
$violet: #C13F8D;
$red: #F32424;
$green: #14C38E;
$yellow: #FFCC00;
$mistyrose: #FFF2EB;
$white-grey: #F6F6F6;
$semi-grey: #BABABA;
$grey: #A2A2A2;
$grey-teen: #6D6D6D;
$grey-bold: #555555;
$grey-black: #3A3A3A;
$black: #222222;
